body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    width: 90%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.image-section img {

    border-radius: 10px;
}
#img1 {
    width: 230px;
    height: 200px;

}
#img3 {
    width: 45px;
    height: 16.5px;

}
#img2 {
    width: 400px;
    height: 160px;

}

.text-section {
    padding: 20px;
    text-align: center;
}

.text-section p {
    font-weight: bold; /* 设置为黑体 */
    color: #5cac6f;
    font-size: 36px; /* 设置较大的字号，可根据需要调整 */
}


.text-section r {
    margin-left: 300px;
    font-size: 16px; /* 设置较小的字号，可根据需要调整 */
}

.date-time #current-date {
    font-weight: bold; /* 加粗日期 */
    font-size: 30px;
}

.date-time #current-time {
    font-size: 30px; /* 调整时间的字体大小 */
    font-weight: bold;
}
#current-full-date {
    text-align: left; /* 水平居中对齐 */
    padding: 10px; /* 内边距 */
    font-size: 32px; /* 设置字体大小 */

    background-color: #ffffff; /* 背景颜色 */
}

button {
    padding: 10px 160px;
    background-color: #ededed;
    color: #2a2b2d;
    border: 2px solid #ededed; /* 添加灰色边框 */
    border-radius: 5px;
    cursor: pointer;
}
footer {
    padding: 20px;
    background-color: #ffffff;
    text-align: center; /* 用于文本和子元素的居中 */
    display: flex; /* 启用 flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.refresh-icon {
    width: 45px; /* 调整图标的宽度 */
    height: 16.5px; /* 调整图标的高度 */
    margin-right: 5px; /* 给图标和文字之间添加一些间距 */
    vertical-align: middle; /* 使图标与文字垂直居中 */
}
#free-input-1 {
    position: absolute;
    top: 140px; /* 距离页面顶部 50px */
    left: 60px; /* 距离页面右侧 20px */
    width: 100px; /* 自由输入区域的宽度 */
    height: 40px; /* 自由输入区域的高度 */
    padding: 0px; /* 内边距 */
    border: 0px solid #ffffff; /* 边框颜色为灰色 */
    border-radius: 0px; /* 圆角 */
    box-sizing: border-box; /* 包括边框和内边距在内计算宽度 */
    font-size: 32px; /* 设置字体大小 */
    font-weight: bold; /* 设置加粗 */
    resize: none; /* 禁用调整大小的功能 */
    font-family: 黑体;
    overflow: hidden; /* 隐藏滚动条 */
    z-index: 10; /* 设置 z-index 以便在其他元素之上 */
}

#free-input-2 {
    position: absolute;
    top: 140px; /* 距离页面顶部 100px */
    right: 45px; /* 距离页面右侧 45px */
    width: 100px; /* 自由输入区域的宽度 */
    height: 40px; /* 自由输入区域的高度 */
    padding: 0px; /* 内边距 */
    border: 0px solid #ffffff; /* 边框颜色为灰色 */
    border-radius: 0px; /* 圆角 */
    box-sizing: border-box; /* 包括边框和内边距在内计算宽度 */
    font-size: 32px; /* 设置字体大小 */
    font-weight: bold; /* 设置加粗 */
    resize: none; /* 禁用调整大小的功能 */
    font-family: 黑体;
    overflow: hidden; /* 隐藏滚动条 */
    z-index: 10; /* 设置 z-index 以便在其他元素之上 */
}
#free-input-3 {
    position: absolute;
    top: 180px; /* 距离页面顶部 50px */
    left: 50px; /* 距离页面右侧 20px */
    width: 120px; /* 自由输入区域的宽度 */
    height: 50px; /* 自由输入区域的高度 */
    padding: 0px; /* 内边距 */
    border: 0px solid #ffffff; /* 边框颜色为灰色 */
    border-radius: 0px; /* 圆角 */
    box-sizing: border-box; /* 包括边框和内边距在内计算宽度 */
    font-size: 18px; /* 设置字体大小 */
    resize: none; /* 禁用调整大小的功能 */
    overflow: hidden; /* 隐藏滚动条 */
    text-align: center; /* 水平居中对齐 */
    font-family: 黑体;
    z-index: 10; /* 设置 z-index 以便在其他元素之上 */
}
#free-input-4 {
    position: absolute;
    top: 180px; /* 距离页面顶部 100px */
    right: 45px; /* 距离页面右侧 45px */
    width: 120px; /* 自由输入区域的宽度 */
    height: 50px; /* 自由输入区域的高度 */
    padding: 0px; /* 内边距 */
    border: 0px solid #ffffff; /* 边框颜色为灰色 */
    border-radius: 0px; /* 圆角 */
    box-sizing: border-box; /* 包括边框和内边距在内计算宽度 */
    font-size: 18px; /* 设置字体大小 */
    resize: none; /* 禁用调整大小的功能 */
    overflow: hidden; /* 隐藏滚动条 */
    text-align: center; /* 水平居中对齐 */
    font-family: 黑体;
    z-index: 10; /* 设置 z-index 以便在其他元素之上 */
}
#free-input-5 {
    position: absolute;
    top: 155px; /* 距离页面顶部 100px */
    right: 190px; /* 距离页面右侧 45px */
    width: 100px; /* 自由输入区域的宽度 */
    height: 20px; /* 自由输入区域的高度 */
    border: 0px solid #ffffff; 
    border-radius: 0px; /* 圆角 */
    box-sizing: border-box; /* 包括边框和内边距在内计算宽度 */
    font-size: 14px; /* 设置字体大小 */
    resize: none; /* 禁用调整大小的功能 */
    font-family: 黑体;
    overflow: hidden; /* 隐藏滚动条 */
    color: #acacac;
    z-index: 15; /* 设置 z-index 以便在其他元素之上 */
}
#free-input-1::placeholder {
    color: #000000; /* 设置第四个输入框的 placeholder 颜色 */
    opacity: 1;
}
#free-input-2::placeholder {
    color: #000000; /* 设置第四个输入框的 placeholder 颜色 */
    opacity: 1;
}
#free-input-3::placeholder {
    color: #000000; /* 设置第四个输入框的 placeholder 颜色 */
    opacity: 1;
}
#free-input-4::placeholder {
    color: #000000; /* 设置第四个输入框的 placeholder 颜色 */
    opacity: 1;
}
#free-input-5::placeholder {
    color: #acacac; /* 设置第四个输入框的 placeholder 颜色 */
    opacity: 1;
}
